*   {
    background-color: dimgrey;

}

ul li {
    list-style: none;
    display: inline-block;
    float: center;
    line-height: 75px;
}

ul li a  {
    text-decoration: none;
    font-size: 20px;
    font-family: Tahoma, Geneva, sans-serif;
    color: crimson;
    padding: 0 30px;
    display: block;
}

ul li a:hover {
    color: rgba(94, 2, 102, 0.719);
    
}